---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: relintdockerhubpushbot/relint-base

inputs:
- name: runtime-ci
- name: cf-deployment-concourse-tasks
- name: bbl-github-release
- name: bosh-cli-github-release
- name: credhub-cli-github-release
- name: cf-cli
- name: terraform-github-release
- name: golang-docker-image

outputs:
- name: cf-deployment-concourse-tasks-updated

run:
  path: runtime-ci/tasks/update-cf-d-ct-dockerfile-versions/task
