---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: relintdockerhubpushbot/cf-deployment-concourse-tasks

inputs:
- name: runtime-ci
- name: cf-deployment-concourse-tasks
- name: bbl-state

params:
  BBL_STATE_DIR: bbl-state
  SYSTEM_DOMAIN:

run:
  path: runtime-ci/tasks/add-tcp-domain/task
