---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: golang
    tag: '1.10'

inputs:
- name: runtime-ci
  path: go/src/github.com/cloudfoundry/runtime-ci

run:
  path: go/src/github.com/cloudfoundry/runtime-ci/tasks/run-update-manifest-releases-unit-tests/task
