---
platform: linux

image_resource:
  type: docker-image
  source:
    repository: relintdockerhubpushbot/bosh-cli

inputs:
- name: runtime-ci
- name: release-repo
- name: semantic-version

outputs:
- name: final-release-repo

run:
  path: runtime-ci/tasks/create-final-release/task

params:
  BLOBS_BUCKET_ACCESS_KEY_ID:
  BLOBS_BUCKET_SECRET_KEY:
