---
platform: linux

image_resource:
  type: registry-image
  source:
    repository: cloudfoundry/cf-deployment-concourse-tasks
    tag: latest

inputs:
- name: runtime-ci
- name: cats-integration-config
- name: cf-smoke-tests
  optional: true
- name: pool-lock
  optional: true

run:
  path: runtime-ci/tasks/ensure-api-healthy/task

params:
  CHECK_ISOLATION_SEGMENT: false
  CONFIG_FILE_PATH:

  BBL_JSON_CONFIG:
