name: Go

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dir:
        - "."
        - "tasks/lookup-slack-channel-for-release-owner"
        - "util/update-manifest-releases"
        - "util/cat-search-tool"
        - "ci/resources/stemcell-version-bump"
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: ${{ matrix.dir }}/go.mod
    - run: go test -v -race ./...
      working-directory: ${{ matrix.dir }}

  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dir:
        - "."
        - "tasks/lookup-slack-channel-for-release-owner"
        - "util/update-manifest-releases"
        - "util/cat-search-tool"
        - "ci/resources/stemcell-version-bump"
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: ${{ matrix.dir }}/go.mod
    - uses: golangci/golangci-lint-action@v9.0.0
      with:
        working-directory: ${{ matrix.dir }}
